{% extends "todo_app/base.html" %}


{% block content %}

<div class="jumbotron">
  <h1>Promemoria:</h1>

  {{ error }}

  {{ todo.titolo }}

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
    <button type="submit">Salva Promemoria</button>
    </form>

    <form method="POST" action={% url 'completetodo' todo.id %}>
      {% csrf_token %}
    <button type="submit">Completato</button>
    </form>

    <form method="GET" action={% url 'deletetodo' todo.id %}>
    <button type="submit">Cancella</button>
    </form>

</div>

{% endblock %}